 HEAD
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env
*.sqlite3

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db
node_modules/
.env
__pycache__/
*.pyc
.DS_Store
 7ef2e9cc (🔒 Seguridad inicial y archivos base agregados)
